
$primary: #f27841;
// $primary: #00C08B;

@import "node_modules/bootstrap/scss/bootstrap";

body, html {
  background: #f7f7f7;
}

.navbar-brand > img {
  height: 25px;
  margin-left: 1.5em;
  margin-right: 2em;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.btn-outline-primary {
  &:hover {
    color: #fff;
  }
}

.btn-primary {
  color: #eee;
  &:hover, &:active, &:focus {
    color: #fff;
  }
}
